= render partial: "admin/breadcrumb",
         locals: { \
           previous_nav_text: "Groupe d'étiquettes",
           previous_nav_link: meta_tags_path,
           current_nav_text:  icon_text("fas fa-plus-circle", "Nouveau groupe d'étiquettes"),
           current_nav_link:  new_meta_tag_path \
         }

= render partial: "form", locals: { meta_tag: @meta_tag }
