<!-- https://github.com/rails/rails/issues/36955 -->

<article><%= @static.content %></article>

<br>

<div class="has-text-grey has-text-right">
Dernière mise à jour : <%= localize(@static.updated_at) %>
</div>
