= render partial: "admin/breadcrumb",
         locals: { \
           previous_nav_text: "Produits",
           previous_nav_link: products_path,
           current_nav_text:  icon_text("fas fa-plus-circle", "Nouveau produit"),
           current_nav_link:  new_product_path \
         }

= render partial: "form", locals: { product: @product }
