.is-pulled-right = link_to icon_text("fas fa-shopping-bag", "Mon panier"), cart_path(@cart), class: "has-text-link"
/ #cart.figure.image.is-64x64
/   i.fas.fa-shopping-bag.is-size-3
/   | 0

/ #cart.modal
/   .modal-background
/   .modal-content
/     .box
/       article.media
/         .media-content pppppp
/   button.modal-close.is-large aria-label="close"
